/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.gallery {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.navigation {
  font-size: medium;
}

.feedback-form {
  max-width: 360px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  color: #663939;
}

.feedback-form textarea {
  max-width: 360px;
  height: 80px;
  margin-top: 8px;
  margin-bottom: 16px;
  padding: 8px 15px;
}

button {
  display: flex;
  justify-content: center;
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 95px;
  background: #4E75FF;
  border: none;
  cursor: pointer;
  color: #FFFFFF;
}
button:hover{
  background: #6C8CFF;
}

.ul {
  display: flex;
  flex-direction: row;
  gap: 50px;
}